---
layout: default
title: Speakers – By Design or by Disaster 2016
---

<div class="wrap">
  <h3 class="section-title">Speakers</h3>
  <hr>
  
  <ul class="left">
    {% for page in site.pages %}
      {% if page.layout == 'speaker' %}
        <li class="spaced">
          
            <h3><a href="{{site.url}}{{page.url}}"> {{ page.speakername }} </a></h3>
          
           <!--<p class="small">{{ page.speakeraffiliation }}</p>-->          
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

