<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ed331a">
  <meta name="robots" content="noodp,noydir"/>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% if page.layout == 'speaker' %}
  <meta name="description" content="{{ page.talktitle }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}"/>
  {% endif %}

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  {% if page.layout == 'speaker' %}
  <meta property="og:description" content="{{ page.talktitle }}" />
  {% else %}
  <meta property="og:description" content="{{ site.description }}" />
  {% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />

  {% if page.layout == 'speaker' %}
  <meta property="og:image" content="{{ site.url }}/uploads/speakers/{{ page.speakerimage }}-og-image.jpg"/>
  {% else %}
  <meta property="og:image" content="{{ site.url }}/static/DoD_monkeys_1200x1200.png"/>
  {% endif %}

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="Design or Disaster 2016 > 2-7 May / Bozen-Bolzano, Italia"/>
  <meta name="twitter:description" content="Conference on Design and Communication for Eco-Social Transitions at the Free University of Bozen-Bolzano"/>
  
  {% if page.layout == 'speaker' %}
  <meta name="twitter:image:src" content="{{ site.url }}/uploads/speakers/{{ page.speakerimage }}-og-image.jpg"/>
  {% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/static/DoD_monkeys_1200x1200.png"/>
  {% endif %}

  <meta name="twitter:site" content="@designdisasterr"/>
  <meta name="twitter:domain" content="{{ site.url }}{{ page.url }}"/>
  <meta name="twitter:creator" content="@designdisasterr"/>

  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/static/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/static/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/static/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/static/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/static/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/static/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/static/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/static/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/static/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/static/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/static/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/static/android-icon-192x192.png">

  <script src="//use.typekit.net/hfe1bqb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="{{ site.url }}/css/main.css" type="text/css"/>
</head>