<header class="dod-header">
  <a class="dod-logo nav-element" href="{{ site.url }}">
    By <span class="red">Design</span> or By <span class="red">Disaster</span>
  </a>
  <a class="dod-logo nav-element">/</a>
  <a class="dod-logo nav-element" href="{{ site.url }}program" title="Check the program of the DoD 2016!"><span class="red">Program 2016</span></a>
  <a class="dod-logo nav-element" href="{{ site.url }}speakers" title="Check the speakers of the DoD 2016!"><span class="red">Speakers</span></a>
  <nav class="dod-nav">
    <a class="nav-element" href="http://pro2.unibz.it/projects/blogs/bydesignorbydisaster/">Blog</a>
    <a class="nav-element" href="http://designdisaster.unibz.it/MA">MA in Eco-Social Design</a>
    <a href="https://www.facebook.com/designdisaster"><img class="social-icon" src="{{ site.url }}static/fb.svg" alt="By Design or By Disaster Facebook page"></a>
    <a href="https://twitter.com/designdisasterr"><img class="social-icon" src="{{ site.url }}static/twitter.svg" alt="By Design or By Disaster Twitter page"></a>
  </nav>
</header>