<section class="content-section newsletter-section">
  <div class="wrap">
    <h1 class="section-title" id="stayupdate">STAY UP TO DATE & SPREAD</h1>
    <p>
      via Email, Facebook <a href="https://www.facebook.com/events/1167306256626462/">event</a> & <a href="https://www.facebook.com/designdisaster">page</a>, via <a href="https://twitter.com/designdisasterr">Twitter</a>, voice, drum and trumpet.<br> And get our rare newsletter:
    </p>
    
    <div id="mc_embed_signup">
      <form action="http://unibz.us7.list-manage.com/subscribe/post?u=e99704ef1a422e1b6284ce47e&amp;id=3c799392c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email" placeholder="Email Address" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
        </div>
      </form>
    </div>
    <br/>
    <p>
      Download press kit: <a href="http://designdisaster2016.unibz.it/DoD_Press_en.zip">English version (.zip)</a> | <a href="http://designdisaster2016.unibz.it/Dod_Press_de.zip">German version (.zip)</a> | <a href="http://designdisaster2016.unibz.it/DoD_Press_it.zip">Italian version (.zip)</a>
    </p>
  </div>
</section>