/* 
 * Typography 
 */

.section-title, .speaker
  letter-spacing: 0.04em

.small
  font-size: 0.8rem

.spaced
  padding-bottom: 1.5em

.space
  padding-bottom: 4em

.section-title
  margin-bottom: 0.5em
  font-size: 1.8em
  color: $red
  text-transform: uppercase

.left
  padding-left: 0em

.bold
  font-size: 1rem
  font-weight: bold
  flex: 0 0 5rem

  +mq($sm)
    flex-basis: 7rem
  +mq($md)
    flex-basis: 7rem 
  +mq($lg)
    flex-basis: 5rem
  +mq($xl)
    flex-basis: 5rem
  

.big
  font-size: 1.5em 

.huge
  font-size: 2.5em

.intro
  font-weight: bold

.black
  color: $black
  -webkit-font-smoothing: antialiased

.red
  color: $red
  -webkit-font-smoothing: antialiased

.white
  color: $white
  -webkit-font-smoothing: antialiased

.orange
  color: $orange
  -webkit-font-smoothing: antialiased