/*
 * Variables
 */

// Colors
$black: #111111;
$red: #ed331a;
$yellow-light: #ffffba;
$orange: #ff8a32;


// Typography
$font: "ff-din-web", Helvetica, Arial, sans-serif;
$font-cond: "din-condensed-web", Helvetica, Arial, sans-serif;

// Breakpoints
$sm: "(min-width: 450px)";
$md: "(min-width: 720px)";
$lg: "(min-width: 980px)";
$xl: "(min-width: 1440px)";
$xxl: "(min-width: 1920px)";