---
layout: default
---

<div class="wrap">

  <h3 class="section-title">{{ page.speakername }}</h3>

   {% if page.speakerimage %}
      
        <img src="{{ site.url }}/uploads/speakers/{{page.speakerimage}}" alt="Photo of {{ page.speakername }}">   
      
    {% endif %}

  <p class="small">{{ page.speakeraffiliation }}</p>
  <p>{{ page.speakerbio }}</p>

  {% if page.speakerportfolio %}
      {% for speakerportfolio in page.speakerportfolio %}
  <p><a href="{{ speakerportfolio.link }}">{{ speakerportfolio.title }}</a></p>
      {% endfor %}
  {% endif %}

  <h2 class="red">{{ page.talktitle }}</h2>
  <!--<p>{{ page.talktime }}</p>-->
  <!--<p>{{ page.talkroom }}</p>-->

  <!--<h4>Abstract of the talk</h4>-->
  <p>{{ page.talkabstract }}</p>

  {% if page.books %}
    <h2>Recommended readings</h2>
    <ul>
      {% for book in page.books %}
        <li>
          <p><a href="{{ book.link }}">{{ book.title }}</a>, <span>{{ book.author }}</span></p>
        </li>
      {% endfor %}
  </ul>
  {% endif %}

  {% if page.articles %}
    <h2>Suggested articles</h2>
    <ul>
      {% for article in page.articles %}
        <li>
          <a href="{{ article.link }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if page.statements %}
    <h2>Statements / Questions</h2>
    <ul>
      {% for statement in page.statements %}
        <li>
          <p>{{ statement.text }}</p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
